In [1]:
# import dependencies
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# configure gmaps to use your Google API key
gmaps.configure(api_key=g_key)

In [3]:
# read cities.csv
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Cervo,ES,2020-05-23 00:22:20,43.67,-7.41,59.00,1,88,5.01
1,1,New Norfolk,AU,2020-05-23 00:22:20,-42.78,147.06,46.00,92,48,2.33
2,2,Kita,ML,2020-05-23 00:22:20,13.03,-9.49,91.00,22,50,2.48
3,3,Ust-Nera,RU,2020-05-23 00:22:20,64.57,143.20,42.13,63,96,4.94
4,4,Amapa,BR,2020-05-23 00:22:20,1.00,-52.00,73.80,97,86,2.44

In [4]:
# get the maximum temperature
max_temp = city_data_df["Max Temp"]

In [8]:
# heatmap of temperature
# get the latitude and longitude
locations = city_data_df[["Lat", "Lng"]]
# NB: maximum temperatures > 0 Fahrenheit in list "temps"
# assign the figure variable
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# assign the heatmap variable
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp,0) for temp in max_temp], 
                                 dissipating=False, 
                                 max_intensity=300, 
                                 point_radius=4)
# add the heatmap layer
fig.add_layer(heat_layer)
# call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
# heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [11]:
# heatmap of percent wind speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [12]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [13]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
7,7,Porbandar,IN,2020-05-23 00:22:21,21.64,69.61,81.79,83,0,11.77
15,15,Hilo,US,2020-05-23 00:22:23,19.73,-155.09,80.60,57,90,3.36
20,20,Vaini,TO,2020-05-23 00:22:24,-21.20,-175.20,78.80,69,20,8.05
26,26,Pangai,TO,2020-05-23 00:22:25,-19.80,-174.35,80.60,65,75,8.05
31,31,Omboue,GA,2020-05-23 00:22:27,-1.57,9.26,78.33,90,31,4.72
36,36,Samarai,PG,2020-05-23 00:22:29,-10.62,150.67,81.63,82,87,9.57
40,40,Albany,US,2020-05-23 00:22:25,42.60,-73.97,78.01,55,51,3.22
41,41,Dumas,US,2020-05-23 00:22:29,35.87,-101.97,88.00,15,1,10.29
47,47,Kalmunai,LK,2020-05-23 00:22:30,7.42,81.82,80.83,83,39,6.96
49,49,Kapaa,US,2020-05-23 00:22:31,22.08,-159.32,82.00,69,40,14.99

In [16]:
# check null values
preferred_cities_df.count()

City_ID       160
City          160
Country       160
Date          160
Lat           160
Lng           160
Max Temp      160
Humidity      160
Cloudiness    160
Wind Speed    160
dtype: int64

In [17]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

         City Country  Max Temp    Lat     Lng Hotel Name
7   Porbandar      IN     81.79  21.64   69.61
15       Hilo      US     80.60  19.73 -155.09
20      Vaini      TO     78.80 -21.20 -175.20
26     Pangai      TO     80.60 -19.80 -174.35
31     Omboue      GA     78.33  -1.57    9.26
36    Samarai      PG     81.63 -10.62  150.67
40     Albany      US     78.01  42.60  -73.97
41      Dumas      US     88.00  35.87 -101.97
47   Kalmunai      LK     80.83   7.42   81.82
49      Kapaa      US     82.00  22.08 -159.32

In [18]:
# set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [20]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [33]:
# preview hotel_df
hotel_df

,City,Country,Max Temp,Lat,Lng,Hotel Name
7,Porbandar,IN,81.79,21.64,69.61,Lords Inn Porbandar
15,Hilo,US,80.60,19.73,-155.09,Hilo Hawaiian Hotel
20,Vaini,TO,78.80,-21.20,-175.20,Keleti Beach Resort
26,Pangai,TO,80.60,-19.80,-174.35,Ha'apai Beach Resort
31,Omboue,GA,78.33,-1.57,9.26,Hotel Olako
...,...,...,...,...,...,...
567,Laguna,US,80.60,38.42,-121.42,Holiday Inn Express & Suites Elk Grove Central...
568,Matara,LK,79.41,5.95,80.54,Amaloh Boutique Resort
575,Oriximina,BR,78.28,-1.77,-55.87,Pousada Tia Amélia
576,Gamba,GA,77.54,-2.65,10.00,
579,Kudahuvadhoo,MV,83.97,2.67,72.89,Kudahuvadhoo Retreat

In [37]:
# check for coordinates with no hotel names
no_name_df = hotel_df.loc[(hotel_df["Hotel Name"] == ""), :]
no_name_df

                      City Country  Max Temp    Lat     Lng Hotel Name
40                  Albany      US     78.01  42.60  -73.97
75                 Barentu      ER     82.47  15.11   37.59
154  San Francisco Del Mar      MX     85.73  16.23  -94.65
285              Taoudenni      ML     87.53  22.68   -3.98
292                  Kidal      ML     81.18  18.44    1.41
305               Tessalit      ML     81.09  20.20    1.01
350              Micheweni      TZ     77.85  -4.97   39.83
364          Kasongo-Lunda      CD     76.68  -6.47   16.82
374  Valentin Gomez Farias      MX     86.22  28.22 -106.58
403                  Avera      US     84.20  33.19  -82.53
445                  Boali      CF     75.20   4.80   18.13
471             Tombouctou      ML     83.62  20.00   -3.00
494                 Ormara      PK     82.67  25.21   64.64
499                  Lagos      NG     80.60   6.58    3.75
513                 Tiznit      MA     81.46  29.58   -9.50
576                  Gamba      GA     77.54  -2.65   10.00

In [22]:
# add a heatmap of temperature for the vacation spots
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [36]:
# store the DataFrame Row
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

# add a heatmap of temperature for the vacation spots and marker for each city
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, 
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))

In [24]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""